html, body{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
body{
    padding: 30px;
    background-color: beige;
}
.sum-number{
	width: 400px;
	padding: 5px;
/*	border: 2px solid grey;*/
	background-color: #dbdada;
	color: #000088;
	font-size: 20px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(100, 100, 10, 0.75);
	-moz-box-shadow:    0px 0px 10px 0px rgba(100, 100, 10, 0.75);
	box-shadow:         0px 0px 10px 0px rgba(100, 100, 10, 0.75);
}